body{
    background-color: #f9c8e8;
}

h1{
    background: radial-gradient(circle, rgba(63,94,251,1), rgba(252,70,107,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
h2{
    color:rgb(108, 58, 21);
}
img{
    width: 200px;
    height: 200px;
}
#red{
    color:rgb(231, 69, 69);
}
#blue{
    color:rgb(69, 153, 231);
}
#orange{
    color:rgb(243, 149, 76);
}
#green{
    color:rgb(41, 179, 99);
}
#yellow{
    color:rgb(235, 255, 87);
}

